:root {
  --primary: #024d6a;
  --primary-light: #d54e52;
  --secondary: #62b484;
  --secondary-light: #62b48414;
  --gray: #00000099;
  --black: #000000;
  --white: #ffffff;
  --red: #ff0606;
  --light-gray: #d4d4d4;
  --inter-font: 'Inter', sans-serif;
  --montserrat-font: 'Montserrat', sans-serif;
  --title-font: "Dancing Script", cursive;
  --border-radius: "10px";
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --box-shadow-header: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--inter-font);
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: var(--inter-font);
  background-color: #ebebeb !important;
}

/* Header UI */

header nav.navbar {
  background-color: var(--white);
  box-shadow: var(--box-shadow-header);
}

header nav.navbar .navbar-brand {
  color: var(--primary);
  font-weight: 700;
  font-size: 25px;
  font-family: var(--title-font);
}

header nav.navbar .navbar-brand span {
  color: var(--secondary);
  font-weight: 700;
  font-size: 25px;
  font-family: var(--title-font);
}

header nav.navbar .nav-link {
  color: var(--primary);
  font-size: 14px;
  font-family: var(--inter-font);
  font-weight: 400;
  opacity: 0.9;
  letter-spacing: 0.5px;
}

header nav.navbar .nav-link.link-btn {
  border: 2px solid var(--secondary);
  border-radius: 40px;
  padding: 7px 15px;
  margin: 0 5px;
  line-height: 20px;
}

header nav.navbar .nav-link.link-btn:hover {
  background-color: var(--primary);
  color: var(--white);
}

header nav.navbar .nav-link:hover,
header nav.navbar .nav-link:focus,
header nav.navbar .nav-link.active,
header nav.navbar .nav-link:active {
  color: var(--secondary);
}

/* Footer UI */

footer {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  letter-spacing: .5px;
  padding: 5px;
}

input.form-control:focus {
  box-shadow: none;
  border: 2px solid var(--primary);
}

input.form-control.error {
  border: 2px solid var(--red);
}

.error {
  color: var(--red);
  font-size: 12px;
  font-weight: 500;
  padding: 2px;
}

.dropdown .btn-primary {
  background-color: var(--white) !important;
  color: var(--primary) !important;
  border: none;
  font-size: 15px;
  padding: 0;
  vertical-align: sub;
  font-weight: 300;
  font-family: var(--inter-font);
  margin-left: 10px;
  line-height: 20px;
}

.dropdown .btn-primary svg {
  fill: var(--primary);
}

table tr th,
table tr td {
  font-size: 15px;
  font-family: var(--inter-font);
  font-weight: 500;
}

table tr th {
  background-color: var(--secondary-light) !important;
  color: var(--secondary) !important;
  font-size: 17px;
}

table tr td {
  background-color: var(--white) !important;
}

table tbody tr:hover td {
  background-color: var(--secondary-light) !important;
}

button.btn.btn-info {
  background-color: var(--white);
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

button.btn.btn-info:hover {
  background-color: var(--secondary);
  color: var(--white);
}


/* Tooltip CSS */

.tooltip {
  position: relative;
  display: inline-flex !important;
  opacity: 1 !important;
  background: var(--primary-light);
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.tooltip a {
  color: var(--black);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -50px;
  left: -55px;
}

.tooltip .tooltiptext::after {
  content: "";
  border: 5px solid #000;
  top: 26px;
  position: absolute;
  left: 48%;
  transform: rotate(45deg);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip svg {
  font-size: 18px;
}

.tooltip.edit {
  background-color: #0068003f;
}

.tooltip.edit svg {
  color: #006800;
}

.tooltip.edit .tooltiptext,
.tooltip.edit:hover {
  background-color: #006800;
}

.tooltip.edit .tooltiptext::after {
  border: 5px solid #006800;
}

.tooltip.delete {
  background-color: #b7040440;
}

.tooltip.delete svg {
  color: #b70404;
}

.tooltip.delete .tooltiptext,
.tooltip.delete:hover {
  background-color: #b70404;
}

.tooltip.delete .tooltiptext::after {
  border: 5px solid #b70404;
}

.tooltip.view {
  background-color: #00808045;
}

.tooltip.view svg {
  color: #008080;
}

.tooltip.view .tooltiptext,
.tooltip.view:hover {
  background-color: #008080;
}

.tooltip.view .tooltiptext::after {
  border: 5px solid #008080;
}

.tooltip.edit:hover svg,
.tooltip.delete:hover svg,
.tooltip.view:hover svg {
  color: var(--white);
}

.tooltip button {
  background: transparent;
  border: none;
}

a.btn.btn-back,
button.btn.btn-back {
  background-color: var(--light-gray);
  color: var(--black);
}

header .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  z-index: 9999;
}

.pageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0;
}

.pageNotFound h3 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--primary);
  font-family: var(--inter-font);
}

.pageNotFound h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--secondary);
  font-family: var(--montserrat-font);
  letter-spacing: -0.9px;
}

.table-responsive::-webkit-scrollbar {
  height: 5px;
  background-color: var(--secondary);
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: var(--secondary-light);
}